:root {
    --amarilloFlojo: rgb(246, 221, 126);
    --naranjaFlojo: #f3ce54;
    --azulFlojo: #01b1d7;
    --azulFuerte: #013660;
}

::-moz-selection {
    color: white;
    background: var(--amarilloFlojo);
}

::selection {
    color: white;
    background: var(--amarilloFlojo);
}

.iniciarSesion {
    color: #00365f;
}

a.iniciarSesion:hover {
    color: #01b1d7 !important;
}

.registro {
    text-align: center;
    padding-top: 5%;
}

.tituloCampo {
    text-align: initial;
}

.botonForm:hover {
    background-color: purple !important;
}

#titolPagament {
    text-align: center;
    padding: 5%;
    font-size: 39px;
    color: #555555;
}

.descripcionTitulo {
    padding-top: 3%;
}

.descriptionP {
    padding-top: 1%;
}

.import {
    font-size: 40px;
    padding-top: 5%;
}

.preu {
    font-size: 60px;
    padding-top: 2%;
}

.mainPagaments {
    padding-bottom: 10%;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* Data table */

#tablaAutomatica_wrapper {
    text-align: center;
}

#tablaAutomatica_filter {
    text-align: center;
    padding-right: 8.4%;
    padding-top: 2.3%;
}

#tablaAutomatica_filter.label.input {
    width: 100%;
}

#tablaAutomatica_info {
    padding-left: 30%;
}

#tablaAutomatica_paginate {
    padding-right: 30%;
    padding-bottom: 5%!important;
}

div.dt-buttons {
    text-align: center;
}

main span:hover {
    background-color: none;
    color: orange;
}

img {
    max-width: 87px;
    max-height: 87px;
}

.btn {
    border: none;
    padding: 18px;
    text-transform: capitalize;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    background-size: 10%;
    transition: 0.6s;
    box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.12);
    background-color: #00A19B;
}

body {
    background-color: azure;
    font-size: 1em;
}

h1 {
    text-align: center;
    color: cadetblue;
    padding: 2%;
}

p {
    text-align: center;
}

fieldset {
    background-color: #FFF;
}

label,
input {
    display: block;
    height: 30px;
    padding: 1%;
}

label {
    float: left;
}

input {
    float: right;
    border: none;
}

input[type="submit"] {
    width: 98%;
    padding-bottom: 3%;
    background-color: #00A19B;
    color: #FFF;
}

input[type="submit"]:hover {
    background-color: orange;
}

table {
    text-align: center;
    width: 50%;
    padding: 1%;
    margin: 10px auto;
}

td {
    box-shadow: 0 0 3px #CCC;
    background-color: #FFF;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td[dt-col=price]::after {
    content: "€";
}

th {
    text-align: center;
    background-color: #013660 ;
    color: #FFF;
}

.dataTables_wrapper .dataTables_filter input {
    padding: initial;
    width: 100%;
    background-color:white;
}
.dataTables_wrapper .dataTables_length select{
    background-color:white;
    width:100%;
    text-align:center;

}
div#tablaAutomatica_length{
    padding-left: 15%;
    padding-bottom: 3%;
}
div#tablaAutomatica_filter label input{
    text-align: center;
    padding-right: 8.5%!important;
}
.odd{
    background-color: #eff6fd;
}
button.buttons-excel{
    width: 4.4%!important;
    background-color: transparent;
    border: none;
}
button.buttons-excel span{
    font-size: 80px;
    color: #013660;
}
button.buttons-excel span :hover{
    color: orange
}
button.buttons-pdf{
    width: 4.4%!important;
    background-color: transparent;
    border: none;
}
button.buttons-pdf span{
    font-size: 80px;
    color: #013660;
}
button.buttons-pdf span :hover{
    color: orange
}
.buttons-collection{
    width:5%;
    border-radius: 11px;
}
.dt-button-collection{
    text-align:center;
}
button.anadiRegistro:hover{
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

button.anadiRegistro{
    margin-left: 42.6% !important;
    padding-right: 4%;
    padding-left: 4%;
   
}
 
tr:nth-child(even) td{
    background-color: lightgrey !important;
}

.socials a {
    font-size: 4pc;
}

.modal {
    z-index: 5;
}

.modal-backdrop {
    z-index: 0;
}

#noscript > * {
    margin-top: 10px;
    color: white;
    background-color: red;
    font-weight: bold;
    text-align: justify;
    padding: .25em;
    border-radius: .25em;
}

#dropdownMenuButton {
    border: none;
    background-color: unset;
}

.mobile-nav-toggle {
    z-index: 0;
}